In [11]:
# imports
import pandas as pd

In [42]:
df_museums = pd.read_csv('../Data/nyc_museums.csv')
# remove all columns we don't care about, and tag these as art/museums
df_museums_col_drop = ['TEL', 'URL', 'ADDRESS2', 'CITY', 'ZIP']
df_museums = df_museums.drop(df_museums_col_drop, axis = 1)
df_museums.shape

(130, 3)

In [43]:
df_museums.head()

,the_geom,NAME,ADRESS1
0,POINT (-74.01375579519738 40.703816216918035),Alexander Hamilton U.S. Custom House,1 Bowling Grn
1,POINT (-74.06303178855111 40.615120837755356),Alice Austen House Museum,2 Hylan Blvd
2,POINT (-73.94729768541572 40.833853500753314),American Academy of Arts and Letters,633 W. 155th St.
3,POINT (-73.97810302110001 40.76162497138548),American Folk Art Museum,45 West 53rd Street
4,POINT (-74.0396848374904 40.69905626244391),American Immigration History Center,Ellis Island

In [34]:
df_businesses = pd.read_csv('../Data/nyc_business_cert.csv')
# Build new addresses from separate columns
df_businesses['Address'] = df_businesses['Address Building'] + " " + df_businesses['Address Street Name'] 
df_businesses_col_keep = ['Business Name', 'Industry', 'Address', 'Longitude', 'Latitude' ]
df_businesses = df_businesses.loc[:,df_businesses_col_keep]
df_businesses.head()

,Business Name,Industry,Address,Longitude,Latitude
0,"CATALFUMO, DANIEL J",Home Improvement Salesperson,NaN,NaN,NaN
1,"MICHILLI, ANGELO",Home Improvement Salesperson,NaN,NaN,NaN
2,"BURKE, EDWARD",Home Improvement Salesperson,NaN,NaN,NaN
3,"CHEN, YI FA",Home Improvement Salesperson,NaN,NaN,NaN
4,"HASANOV, JEYHUN",Pedicab Driver,NaN,NaN,NaN

In [35]:
df_businesses_industry_keep = ['Cabaret', 'Amusement Arcade', 'Motion Picture Projectionist', 'Games of Chance']

In [22]:
df_businesses['Addresses'] = df_businesses['Address Building'] + " " + df_businesses['Address Street Name']

In [38]:
df_businesses[df_businesses.Industry.str.contains('|'.join(df_businesses_industry_keep))]

,Business Name,Industry,Address,Longitude,Latitude
1114,"POLANCO, JULIO",Motion Picture Projectionist,NaN,NaN,NaN
1538,CEC ENTERTAINMENT INC,Amusement Arcade,4024 COLLEGE POINT BLVD,-73.834054,40.757451
1571,"CEC ENTERTAINMENT, INC.",Amusement Arcade,4818 NORTHERN BLVD,-73.914245,40.753619
2003,"CEC ENTERTAINMENT, INC.",Amusement Arcade,1816 E GUN HILL RD,-73.833662,40.863803
8136,THANC FOUNDATION,Games of Chance,10 UNION SQ E,-73.989926,40.734703
8831,HOLY ROSARY CHURCH,Games of Chance,100 JEROME AVE,-74.076032,40.596087
8921,ENCORE COMMUNITY SERVICES,Games of Chance,239 W 49TH ST,-73.985312,40.761143
8940,CLASSIC STAGE COMPANY,Games of Chance,136 E 13TH ST,-73.988984,40.733144
8941,SAN LORENZO RUIZ ASSOCIATION OF AMERICA,Games of Chance,16841 84TH AVE,-73.796457,40.716098
8970,SAINT ATHANASIUS R C CHURCH/SCHOOL,Games of Chance,6120 BAY PKWY,-73.979239,40.615966
8985,CHURCH OF THE HOLY CROSS,Games of Chance,620 THIERIOT AVE,-73.861180,40.817885
8995,"PROSPECT THEATER COMPANY, INC.",Games of Chance,520 8TH AVE,-73.992417,40.753612
9002,PASCAL RIOVLT DANCE THEATRE,Games of Chance,246 W 38TH ST,-73.990154,40.754079
9010,THE SURVIVOR FUND,Games of Chance,462 1ST AVE,-73.976862,40.739173
9011,"PROJECT OPEN, INC.",Games of Chance,185 W END AVE,-73.986009,40.777721
9073,OUR LADY OF THE ROSARY OF POMPEI,Games of Chance,225 SEIGEL ST,-73.937009,40.704991
9085,Our Lady of Pompeii School,Games of Chance,240 BLEECKER ST,-74.002652,40.730614
9100,"PARENT TEACHER ASSOCIATION OF PS 452, INC.",Games of Chance,210 W 61ST ST,-73.987328,40.771925
9108,CHURCH OF THE HOLY CROSS,Games of Chance,620 THIERIOT AVE,-73.861180,40.817885
9114,CHURCH OF THE HOLY CROSS,Games of Chance,620 THIERIOT AVE,-73.861180,40.817885
9122,Hedge Funds Care Inc,Games of Chance,330 7TH AVE,-73.993143,40.747549
9130,MOORE CATHOLIC HIGH SCHOOL,Games of Chance,100 MERRILL AVE,-74.162944,40.610184
9133,SOCIETY OF THE THIRD STREET MUSIC SCHOOL SETTL...,Games of Chance,235 E 11TH ST,-73.987364,40.730806
9134,"New Alternatives for Children, Inc.",Games of Chance,NaN,NaN,NaN
9140,NEWYORK-PRESBYTERIAN/BROOKLYN METHODIST,Games of Chance,200 EASTERN PKWY,-73.963042,40.671835
9143,LITTLE MISSIONARY'S DAY NURSERY,Games of Chance,288 E 10TH ST,-73.982862,40.728101
9145,"Chelsea Recovery Clubhouse, Inc.",Games of Chance,767 9TH AVE,-73.988304,40.764385
9147,MIKVAH USA INC.,Games of Chance,1164 45TH ST,-73.992916,40.639128
9157,RISING TREETOPS AT OAKHURST INC.,Games of Chance,1140 BROADWAY,-73.988979,40.743906
9165,"SIXTH MEMORIAL ASSOCIATION, INC.",Games of Chance,389 5TH AVE,-73.985000,40.670725
...,...,...,...,...,...
196448,"COMMUNITY HEALTH ACTION OF STATEN ISLAND, INC.",Games of Chance,56 BAY ST,-74.075704,40.640624
196823,WHANY LLC,Cabaret,115 MACDOUGAL ST,-74.000451,40.730060
196921,D'NOSOTROS FOOD CORP.,Cabaret,2935 ATLANTIC AVE,-73.885901,40.677617
197063,BETH GAVRIEL BUKHARIAN CONGREGATION,Games of Chance,6635 108TH ST,-73.847809,40.729471
197082,DOUSTAN DEVELOPMENT CORP.,Amusement Arcade,153 ESSEX ST,-73.987114,40.720688
197099,GOLD N GOLD ENTERPRISES INC,Cabaret,405 HUNTS POINT AVE,-73.880762,40.809642
197176,KARENTERPRISES OF NY LTD.,Cabaret,6205 30TH AVE,-73.900874,40.759704
197367,INSTITUTE OF CORE ENERGETICS,Games of Chance,150 W 28TH ST,-73.991963,40.746638
197933,"51-07 GROUP, INC.",Cabaret,5107 27TH ST,-73.942793,40.739680
198094,GALLIS INC,Cabaret,834 CLARKSON AVE,-73.930621,40.656622
198443,THREE AMIGOS SJL INC.,Cabaret,252 W 43RD ST,-73.987940,40.757328
198535,YESHIVA OF MANHATTAN BEACH,Games of Chance,60 W END AVE,-73.953567,40.580394
198971,NIA COMMUNITY SERVICES NETW,Games of Chance,6614 11TH AVE,-74.006708,40.627905
199173,KENNETH MCPARTLAN TAVERN CORP.,Cabaret,145 E 149TH ST,-73.928028,40.818753
199186,"NIGHTLIFE ENTERPRISES, L.P.",Cabaret,268 W 47TH ST,-73.986594,40.760023
199824,"DOUBLES INTERNATIONAL CLUB ENTERPRISES, INC.",Cabaret,783 5TH AVE,-73.972810,40.764539
199852,"LIGRECI'S STAATEN RESTAURANT, INC.",Cabaret,697 FOREST AVE,-74.112338,40.629483
199962,CIRCLE NYC INC,Cabaret,135 W 41ST ST,-73.985797,40.754690
200059,42ND STREET LESSEE LLC,Cabaret,110 E 42ND ST,-73.976944,40.751807
200182,RICCARDO'S CATERING INC.,Cabaret,2101 24TH AVE,-73.921365,40.776515
200603,S&B LIFESTYLE INC,Cabaret,3312 36TH AVE,-73.927969,40.755739
200794,SILK CORP,Cabaret,550 W 38TH ST,-73.999256,40.757930
200857,THE VAULT LLC,Cabaret,675 HUDSON ST,-74.005233,40.740366
201061,"AVANT GARDNER, LLC",Cabaret,111 GARDNER AVE,-73.924945,40.710902
201170,"CLARKE, SYLVESTER & SMITH, LAURISTON",Cabaret,566 NOSTRAND AVE,-73.949623,40.679320
201178,"THE NETS FOUNDATION, INC.",Games of Chance,15 METROTECH CTR,-73.984786,40.693707
201583,ST. GEORGE UKRAINIAN CATHOLIC CHURCH,Games of Chance,30 E 7TH ST,-73.988999,40.728344
201960,"XL DANCE BAR, LLC",Cabaret,512 W 42ND ST,-73.996582,40.760084
202044,"ESX GROUP, INC.",Cabaret,225 E HOUSTON ST,-73.986450,40.722278
202550,MARY QUEEN OF HEAVEN CHURCH,Games of Chance,1395 E 56TH ST,-73.921303,40.621288

In [19]:
df_businesses.columns

Index(['DCA License Number', 'License Type', 'License Expiration Date',
       'License Status', 'License Creation Date', 'Industry', 'Business Name',
       'Business Name 2', 'Address Building', 'Address Street Name',
       'Secondary Address Street Name', 'Address City', 'Address State',
       'Address ZIP', 'Contact Phone Number', 'Address Borough',
       'Borough Code', 'Community Board', 'Council District', 'BIN', 'BBL',
       'NTA', 'Census Tract', 'Detail', 'Longitude', 'Latitude', 'Location'],
      dtype='object')